<!DOCTYPE html>
<html lang="en">

	<head>
		<!--
		IE8 runs 'intranet sites' in compatibility mode by default, which we do
		not want as we are not supporting IE7.
		-->
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>
			jQuery App Layer &bull; test suite
		</title>
		
		<link rel="stylesheet" type="text/css" media="screen" href="http://github.com/jquery/qunit/raw/master/qunit/qunit.css" />
	    <script type="text/javascript" src="../lib/modernizr-1.5.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
		<script type="text/javascript" src="http://github.com/jquery/qunit/raw/master/qunit/qunit.js"></script>
		<script type="text/javascript">
			// Prevents escaping of object descriptions. Wonder why QUnit
			// doesn't disable this by default.
			QUnit.jsDump.HTML = false;
		</script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.js"></script>
		<script type="text/javascript" src="../lib/underscore.js"></script>
		<script type="text/javascript" src="../lib/jquery.ba-hashchange.js"></script>
		<script type="text/javascript" src="../lib/jquery.form.js"></script>
		<script type="text/javascript" src="../src/jquery.al.util.js"></script>
		<script type="text/javascript" src="../src/jquery.al.flexicallback.js"></script>
		<script type="text/javascript" src="../src/jquery.al.data.js"></script>
		<script type="text/javascript" src="../src/jquery.al.employ.js"></script>
		<script type="text/javascript" src="../src/jquery.al.state.js"></script>
		<script type="text/javascript" src="../src/jquery.al.flirt.js"></script>
		<script type="text/javascript" src="../src/jquery.al.dataview.js"></script>
		<script type="text/javascript" src="../src/jquery.al.listview.js"></script>
		<script type="text/javascript" src="../src/jquery.al.flaggable.js"></script>
		<script type="text/javascript" src="data.js"></script>
		<script type="text/javascript" src="flexicallback.js"></script>
		<script type="text/javascript" src="employ.js"></script>
		<script type="text/javascript" src="state.js"></script>
		<script type="text/javascript" src="flirt.js"></script>
		<script type="text/javascript" src="dataview.js"></script>
		<script type="text/javascript" src="listview.js"></script>
		<script type="text/javascript" src="flaggable.js"></script>
	</head>
	<body>
		<h1 id="qunit-header">jQuery App Layer &bull; test suite</h1>
		<h2 id="qunit-banner"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="main" style="display: none;">
			<div>text node</div>
			<ul>
				<li></li>
			</ul>
			<ul id="flirt">
				<li>Header</li>
				<!-- <li>wrong template</li> -->
				<!--namedtemplate
					<li>
						<% this.print(safe(group), ':'); %>
						<!-members
							[<strong><a href="<%= id %>" style="font-family:<%= fonts.join(',') %>;"><%= name %></a></strong> <!-fonts
								<%= data %>,
							->]
						->
						(<%= members.length %>)
					</li>
					<li>
						those were ids
						<!-members
							<% print(id); %>,
						->...
					</li>
				-->
				<!-- this is a regular comment -->
			</ul>
			<ul id="dataview">
				<!-- <li>whatever</li> -->
			</ul>
			<ul id="listview">
				<!--
					<li><%= name %> (<%= age %>)</li>
				-->
			</ul>
			<ul id="flaggable">
				<li>
					<a href="1">item 1</a>
					<a href="2">item 2</a>
				</li>
				<li>
					<a href="3">item 3</a>
					<a href="4">item 4</a>
					<a href="2">item 2</a>
					<a href="5">item 5</a>
				</li>
				<li>
					<ul>
						<li>
							<a href="6">item 6</a>
							<a href="2">item 2</a>
						</li>
					</ul>
				</li>
			</ul>
			<div id="block0">block0</div>
			<div id="block1">block1</div>
			<div id="block2">block2</div>
			<div id="block3">block3</div>
		</div>
	</body>

</html>

