<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>
			$.al.Array
		</title>
		
		<style type="text/css">
			li {
				padding: .2em;
			}
			li:not(.checked) > input {
				border-color: transparent;
			}
			li:not(.checked) > button {
				display: none;
			}
			li.checked {
				background-color: #396ED9;
			}
		</style>
	</head>
	
	<body>
		
		<label><input type="checkbox" /> Display</label>
		
		<button class="load">Load</button>
		<button class="delete">Delete selected</button>
		
		<hr />
		
		<div id="component">
			
			<input type="checkbox" />
			
			<span><!-- selected <%= selected.size() %>, displayed <%= contacts.loaded() %>, out of <%= contacts.size() %> contacts --></span>
			
			<input type="search" />
			
			<ul>
				<!--
					<li data-id="<%= get('id') %>">
						<input type="text" value="<%= get('contact_name') || get('medium_name') || get('emails').join(', ') || safe('&ndash;') %>" />
						<button>Save contact with id <%= get('id') %></button>
					</li>
				-->
			</ul>
			
		</div>
		
		<script type="text/javascript" src="../lib/underscore.js"></script>
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.4.3.js"></script>
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.js"></script>
		<script type="text/javascript" src="../lib/jshashtable-2.1_src.js"></script>
		<script type="text/javascript" src="../lib/jshashset_src.js"></script>
		<script type="text/javascript" src="../lib/jquery.ba-getobject.js"></script>
		<script type="text/javascript" src="../src/jquery.al.util.js"></script>
		<script type="text/javascript" src="../src/jquery.al.data.js"></script>
		<script type="text/javascript" src="../src/jquery.al.newcore.js"></script>
		<script type="text/javascript" src="../src/jquery.al.newrecord.js"></script>
		<script type="text/javascript" src="../src/jquery.al.rest.js"></script>
		<script type="text/javascript" src="../src/jquery.al.flirt.js"></script>
		<script type="text/javascript" src="../src/jquery.al.newdataview.js"></script>
		<script type="text/javascript" src="../src/jquery.al.selectable.js"></script>
		<script type="text/javascript">
			
			SPR = {};
			
			(function($) {
				
				api = new $.Rest('http://app.smartpr.dev/api/contacts/', 'jsonp');
				
				SPR.Contact = $.al.Record.subtype('SPR.Contact', function() {
					
				}, {}, {
					
					Array: $.al.Record.Array.subtype('SPR.Contact.Array', function() {
						
					}),
					
					idField: 'id',
					
					records: $.al.Record.records,
					
					read: function(filter) {
						var array = new SPR.Contact.Array(function() {
							var self = this;
							if (self.size() > 0 && self.size() === self.loaded()) {
								return;
							}
							api.get('', {
								filter: filter.value,	// TODO: should be a generic .valueOf()
								offset: self.loaded(),
								limit: 50
							}, function(data) {
								self.size(data.total);
								self.push.apply(self, _.map(data.result, function(item) {
									// TODO: should be done inside SPR.Contact.Array.push()
									return new SPR.Contact(item);
								}));
								
								// TODO: Trigger `readsuccess` event.
							});
						});
						
						$(filter).bind('valuechange', function() {
							array.splice(0);
							array.load();
						});
						
						return array;
					},
					
					update: function(data) {
						api.put(data.id + '/', data, function() {
							$([SPR.Contact]).trigger('updatesuccess');
						});
					},
					
					del: function(ids) {
						alert('delete ' + ids.join(','));
					}
					
				});
				
				// TODO: This back-reference should be created automatically.
				SPR.Contact.Array.recordType = SPR.Contact;
				
			}/*(jQuery)*/);
			
			(function($) {
				
				var display = new $.al.Object();
				
				$(display).bind('valuechange', function(e, data) {
					$('#component')[data.to ? 'show' : 'hide']();
				});
				
				display.valueOf(false);
				
				$('label > :checkbox').bind('change', function() {
					display.valueOf($(this).attr('checked'));
				});
				
				$('input[type="search"]').bind('keydown', function() {
					var $this = $(this);
					setTimeout(function() {
						$this.trigger('valuechange', { to: $this.val() });
					}, 300);
				});
				
				array = SPR.Contact.records($('input[type="search"]')[0]);
				
				$('.load').bind('click', $.proxy(array, 'load'));
				
				$(array).bind('valuechange', function(e) {
					if (this.size() === this.loaded()) {
						$('.load').attr('disabled', true);
					}
				});
				
				selected = new $.al.Selection(146);
				
				$('.delete').bind('click', function() {
					SPR.Contact.del(selected.valueOf());
				});
				
				$('#component > :checkbox').bind('click', function() {
					selected.change($(this).attr('checked') ? array.pluck('id') : []);
				});
				
				$('ul').
					delegate('button', 'click', function() {
						// $(this).closest('li').fetch('dataview', 'data').save({ contact_name: $(this).prev().val() });
					}).
					dataview('set', {
						data: array,
						condition: display
					}).
					selectable({
						elements: 'li',
						data: function() {
							return $(this).data('id');
						},
						selection: selected,
						changeOn: 'click',
						toggleOn: null,
						invalidateselected: function(e, data) {
							$(data.elements).addClass('checked');
						},
						invalidateunselected: function(e, data) {
							$(data.elements).removeClass('checked');
						}
					});
				
				$([array, selected]).bind('valuechange', function() {
					// TODO: Can't we think of a way to make dataview understand
					// when to invalidate? F.e. wrap data in a composite
					// $.al.Object subtype?
					$('span').dataview('set', { data: { contacts: array, selected: selected } });
					
					var $cb = $('#component > :checkbox');
					if (array.loaded() === selected.size()) {
						$cb.attr({
							checked: true,
							indeterminate: false
						});
					} else if (selected.size() === 0) {
						$cb.attr({
							checked: false,
							indeterminate: false
						});
					} else {
						$cb.attr({
							checked: false,
							indeterminate: true
						});
					}
				});
				
			}/*(jQuery)*/);
			
			
			
			
			/* Simple JavaScript Inheritance
			 * By John Resig http://ejohn.org/
			 * MIT Licensed.
			 */
			// Inspired by base2 and Prototype
			(function(){
			  var initializing = false, fnTest = /xyz/.test(function(){xyz;}) ? /\b_super\b/ : /.*/;

			  // The base Class implementation (does nothing)
			  this.Class = function(){};

			  // Create a new Class that inherits from this class
			  Class.extend = function(prop) {
			    var _super = this.prototype;

			    // Instantiate a base class (but only create the instance,
			    // don't run the init constructor)
			    initializing = true;
			    var prototype = new this();
			    initializing = false;

			    // Copy the properties over onto the new prototype
			    for (var name in prop) {
			      // Check if we're overwriting an existing function
			      prototype[name] = typeof prop[name] == "function" &&
			        typeof _super[name] == "function" && fnTest.test(prop[name]) ?
			        (function(name, fn){
			          return function() {
			            var tmp = this._super;

			            // Add a new ._super() method that is the same method
			            // but on the super-class
			            this._super = _super[name];

			            // The method only need to be bound temporarily, so we
			            // remove it when we're done executing
			            var ret = fn.apply(this, arguments);       
			            this._super = tmp;

			            return ret;
			          };
			        })(name, prop[name]) :
			        prop[name];
			    }

			    // The dummy class constructor
			    function Class() {
			      // All construction is actually done in the init method
			      if ( !initializing && this.init )
			        this.init.apply(this, arguments);
			    }

			    // Populate our constructed prototype object
			    Class.prototype = prototype;

			    // Enforce the constructor to be what we expect
			    Class.constructor = Class;

			    // And make this class extendable
			    Class.extend = arguments.callee;

			    return Class;
			  };
			})();
			
			var Person = Class.extend({
			  init: function(isDancing){
			    this.dancing = isDancing;
			  }
			});

			var Ninja = Person.extend({
			  init: function(){
			          this._super( false );
			  }
			});

			var p = new Person(true);
			p.dancing; // => true

			var n = new Ninja();
			n.dancing; // => false
			
			console.log(n instanceof Person);
			console.log(p instanceof Ninja);
						
		</script>
		
	</body>

</html>
