<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>
			Control
		</title>
		
	    <script type="text/javascript" src="../lib/modernizr-1.5.min.js"></script>
		<style type="text/css">
		</style>
	</head>
	
	<body>
		<div id="header" class="stateful">
			Demo
		</div>
		
		<ul id="nav" class="stateful">
			<li class="campaigns">
				<a href="#/campaigns">Campaigns</a>
			</li>
			<li class="contacts">
				<a href="#/contacts">Contacts</a>
				<ul id="tag-list" class="stateful">
					<li class="group">My contacts</li>
					<!--
						<li class="tag"><%= name %> (<%= count %>)</li>
					-->
				</ul>
			</li>
			<li class="notes">
				<a href="#/notes">Notes</a>
			</li>
		</ul>
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.js"></script>
		<script type="text/javascript" src="../lib/underscore.js"></script>
		<script type="text/javascript" src="../src/jquery.al.field.js"></script>
		<script type="text/javascript" src="../src/jquery.al.controller.js"></script>
		<script type="text/javascript">
		</script>
	</body>

</html>
