<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>
			JAL revised
		</title>
		
	    <script type="text/javascript" src="http://sandbox/app-layer/lib/modernizr-1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://sandbox/app-layer/lib/html5-reset-1.4.css" />
		<link rel="stylesheet" type="text/css" href="http://sandbox/app-layer/lib/jquery-ui-1.8rc1/themes/base/ui.all.css" />
		<style type="text/css">
			
			body, body > div {
				position: absolute;
			}
			
			body {
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
			
			body > div {
				display: none;
			}
			body > form {
				display: block;
			}
			
			#error-404 {
				height: 4em;
				width: 10em;
				top: 30%;
				left: 50%;
				margin-left: -5em;
				background-color: orange;
			}
			
			#nav {
				height: 4em;
				top: 0;
				right: 0;
				left: 0;
				background-color: blue;
			}
			#nav .busy {
				float: right;
				background-color: yellow;
				display: none;
			}
			#nav a {
				display: block;
				float: left;
				padding: 1em;
				margin: .5em 0 .5em .5em;
				background-color: lightgrey;
				border-radius: 1em;
			}
			#nav a.selected {
				background-color: white;
			}
			
			#tags {
				width: 15%;
				top: 4em;
				bottom: 0;
				left: 0;
				background-color: yellow;
			}
			#tags > ul.apply {
				display: none;
			}
			
			#basket {
				width: 30%;
				top: 4em;
				right: 0;
				bottom: 0;
				background-color: lightblue;
			}
			#basket > ul {
				position: absolute;
				top: 2em;
				right: 0;
				bottom: 0;
				left: 0;
				overflow-x: hidden;
				overflow-y: auto;
			}
			#basket > ul > li {
				border-top: 1px solid blue;
				padding: .5em;
			}
			
			#contacts-controls {
				top: 4em;
				right: 30%;
				left: 15%;
				height: 2em;
			}
			#contacts-controls button {
				float: right;
			}
			
			#contacts {
				top: 6em;
				right: 30%;
				bottom: 0;
				left: 15%;
				background-color: lightgrey;
			}
			#contacts > ul {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				overflow-x: hidden;
				overflow-y: auto;
			}
			#contacts > ul > li {
				margin-top: 1px;
				padding: .5em;
				background-color: white;
			}
			
			#dpl-lists {
				top: 4em;
				right: 30%;
				bottom: 0;
				left: 0;
			}
			
			#webfiles-controls {
				top: 4em;
				right: 0;
				left: 0;
				height: 2em;
			}
			
			#webfiles {
				top: 6em;
				right: 0;
				bottom: 0;
				left: 0;
			}
			
			#edit {
				width: 70%;
				top: 4em;
				right: 0;
				bottom: 0;
			}
			#edit > div {
				position: absolute;
				top: 2em;
				right: 0;
				bottom: 0;
				left: 0;
			}
			#edit > .general {
				background-color: lightgrey;
			}
			#edit > .personalized {
				display: none;
				background-color: lightyellow;
			}
			#edit > div > div {
				position: absolute;
				top: 1em;
				right: 1em;
				bottom: 1em;
				left: 1em;
			}
			#edit textarea, #edit iframe {
				display: block;
				border: 0;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
			}
			
		</style>
	</head>
	
	<body>
		<form method="post" action="http://app.smartpr.dev:81/api/recipients/">
			<input type="checkbox" name="contacts" value="1" />
			<input type="submit" />
		</form>
		<div id="error-404">
			<!--flirt
				Pagina <%= url %> niet gevonden...
			-->
		</div>
		<div id="nav">
			<div class="busy"></div>
			<a class="contacts" href="#/contacts">Adresboek</a>
			<a class="dpl" href="#/dpl">De Perslijst</a>
			<a class="webfiles" href="#/files">Bestanden</a>
			<a class="send" href="#/send">Verzending</a>
		</div>
		<div id="tags">
			<ul class="filter">
				<li>Filter:</li>
				<!--flirt
					<li>
						<%= group.toUpperCase() %>:
						<%--flirt:members
							<a href="#/tags/<%= id %>" class="tag"><%= name %></a>
						--%>
					</li>
				-->
			</ul>
			<ul class="apply">
				<li>Bevestig:</li>
				<!--flirt
					<li>
						<%= group.toUpperCase() %>:
						<%--flirt:members
							<a href="#/tags/<%= id %>" class="tag"><%= name %></a>
						--%>
					</li>
				-->
			</ul>
		</div>
		<div id="basket">
			<input type="search" class="grep" />
			<ul>
				<!--flirt
					<li>
						<%= email %><br />
						<%= addressable.name || '&nbsp;' %>
					</li>
				-->
			</ul>
		</div>
		<div id="contacts-controls">
			<button>Naar verzendlijst</button>
			<input type="search" />
			Ordening: <select>
				<option name="name">Naam</option>
				<option name="company">Bedrijfsnaam</option>
			</select>
			Selecteer: <a class="check-all" href="">alles</a> <a class="check-none" href="">geen</a>
		</div>
		<div id="contacts">
			<ul>
				<!--flirt
					<li>
						<input type="checkbox" name="contact" value="<%= id %>" />
						<%= name %> <a class="to-basket" href="<%= id %>">naar verzendlijst &raquo;</a><br />
						<%= emails.join(', ') %>
					</li>
				-->
			</ul>
			<span class="more">Dat was 'm voor nu, maar je kan altijd <a href="">meer laden...</a></span>
		</div>
		<div id="dpl-lists">dpl-lists</div>
		<div id="webfiles-controls">
			<input type="file" name="bestandje" /><button>Toevoegen</button>
		</div>
		<div id="webfiles">
			<ul>
				<!--flirt
					<li>
						<input type="checkbox" name="contact" value="<%= id %>" />
						<%= name %> (<%= size %> KB)
					</li>
				-->
			</ul>
		</div>
		
		<div id="edit">
			<a href="" class="edit-general">General</a>
			<a href="" class="edit-personalized">Personalized</a>
			<div class="general">
				<div><textarea></textarea></div>
			</div>
			<div class="personalized">
				<div><textarea></textarea></div>
			</div>
		</div>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
		<script type="text/javascript" src="http://sandbox/app-layer/lib/jquery-ui-1.8rc1/ui/jquery-ui.js"></script>
		<script type="text/javascript" src="http://sandbox/app-layer/lib/underscore.js"></script>
		<!-- <script type="text/javascript">
			_editor_url = '.';
		</script> -->
		<!-- <script type="text/javascript" src="http://sandbox/xinha/XinhaCore.js"></script>
		<script type="text/javascript" src="http://sandbox/xinha/modules/GetHtml/TransformInnerHTML.js"></script>
		<script type="text/javascript" src="http://sandbox/xinha/modules/CreateLink/link.js"></script>
		<script type="text/javascript" src="http://sandbox/xinha/modules/CreateLink/pluginMethods.js"></script>
		<script type="text/javascript" src="http://sandbox/xinha/modules/InsertImage/insert_image.js"></script>
		<script type="text/javascript" src="http://sandbox/xinha/modules/InsertImage/pluginMethods.js"></script> -->
		<!-- <script type="text/javascript" src="http://sandbox/xinha/modules/Gecko/Gecko.js"></script> -->
		<!-- <script type="text/javascript" src="http://sandbox/xinha/modules/WebKit/WebKit.js"></script> -->
		<!-- <script type="text/javascript" src="http://sandbox/xinha/modules/InternetExplorer/InternetExplorer.js"></script> -->
		<script type="text/javascript" src="http://sandbox/app-layer/lib/xinha.js"></script>
		<!--{% if browser.msie %}{{ htmlcomments.close }}
			<script type="text/javascript" src="http://sandbox/app-layer/lib/xinha-msie.js"></script>
		{{ htmlcomments.open }}{% endif %}-->
		<!--{% if browser.firefox %}{{ htmlcomments.close }}
			<script type="text/javascript" src="http://sandbox/app-layer/lib/xinha-mozilla.js"></script>
		{{ htmlcomments.open }}{% endif %}-->
		<!--{% if browser.webkit %}-->
			<script type="text/javascript" src="http://sandbox/app-layer/lib/xinha-webkit.js"></script>
		<!--{% endif %}-->
		<script type="text/javascript" src="http://sandbox/app-layer/lib/rix.js"></script>
		<script type="text/javascript" src="http://sandbox/app-layer/lib/jquery.ba-hashchange.js"></script>
		<script type="text/javascript" src="http://sandbox/app-layer/lib/jquery.form.js"></script>
		<script type="text/javascript" src="http://sandbox/app-layer/src/jquery.al.util.js"></script>
		<script type="text/javascript" src="http://sandbox/app-layer/src/jquery.al.flexicallback.js"></script>
		<script type="text/javascript" src="http://sandbox/app-layer/src/jquery.al.data.js"></script>
		<script type="text/javascript" src="http://sandbox/app-layer/src/jquery.al.state.js"></script>
		<script type="text/javascript" src="http://sandbox/app-layer/src/jquery.al.flirt.js"></script>
		<script type="text/javascript" src="http://sandbox/app-layer/src/jquery.al.dataview.js"></script>
		<script type="text/javascript" src="http://sandbox/app-layer/src/jquery.al.flagable.js"></script>
		<script type="text/javascript" src="http://sandbox/smartpr-api-client/src/jquery.smartpr.js"></script>
		<script type="text/javascript">
			
			jQuery(function($) {
				
				$.state({
					pattern: '^\/',
					elements: '#nav'
				}, {
					name: 'contacts',
					pattern: '^\/contacts$',
					elements: '#tags, #basket, #contacts-controls, #contacts'
				}, {
					name: 'dpl',
					pattern: /^\/dpl$/,
					elements: '#basket, #dpl-lists'
				}, {
					name: 'files',
					pattern: /^\/files$/,
					elements: '#webfiles-controls, #webfiles'
				}, {
					name: 'send',
					pattern: /^\/send$/,
					elements: '#edit'
				});
				
				$('#nav').
					one({
						'stateenter._': function(e) {
							var $this = $(this),
								$busy = $this.find('.busy');
							$(window).bind({
								'busystart': function(e, msg) {
									$busy.text(msg).show();
								},
								'busyend': function(e, msg) {
									$busy.text(msg);
									setTimeout(function() {
										$busy.fadeOut();
									}, 2000);
								}
							});
						}
					}).
					bind({
						'stateleave._': function(e, name) {
							$(this).find('a.' + name).removeClass('selected');
						},
						'stateenter._': function(e, name) {
							$(this).find('a.' + name).addClass('selected');
						}
					});
				
				$('#basket').one({
					'stateenter._': function(e) {
						e.callback.expect();
						var $this = $(this);
						$this.
							children('.grep').bind('keydown', function() {
								setTimeout(function() {
									$this.children('ul').dataview('invalidate');
								}, 300);
							}).end().
							children('ul').dataview({
								data: function(cb) {
									var $this = this;
									$.smartpr.recipients.get(function(data) {
										cb(data);
										e.callback.call();
									});
								},
								threshold: 30,
								key: 'id',
								grep: function(item) {
									var query = $.trim($this.children('.grep').val());
									return item.email.indexOf(query) !== -1;
								}
							});
					}
				});
				
				$('#edit a.edit-general').click(function(e) {
					e.preventDefault();
					var $on = $('#edit .general'),
						$off = $('#edit .personalized'),
						handlers = $off.find('textarea').pluginData('rix');
					$off.hide();
					handlers.onHidden.call($off.find('textarea')[0]);
					handlers = $on.find('textarea').pluginData('rix');
					$on.show();
					// TODO: Move timeout to onDisplay(?)
					setTimeout(function() {
						handlers.onDisplay.call($on.find('textarea')[0], function() {
							handlers.onVisible.call($on.find('textarea')[0], $.noop);
						});
					}, 100);
				});
				
				$('#edit a.edit-personalized').click(function(e) {
					e.preventDefault();
					var $on = $('#edit .personalized'),
						$off = $('#edit .general'),
						handlers = $off.find('textarea').pluginData('rix');
					$off.hide();
					handlers.onHidden.call($off.find('textarea')[0]);
					handlers = $on.find('textarea').pluginData('rix');
					$on.show();
					// TODO: Move timeout to onDisplay(?)
					setTimeout(function() {
						handlers.onDisplay.call($on.find('textarea')[0], function() {
							handlers.onVisible.call($on.find('textarea')[0], $.noop);
						});
					}, 100);
				});
				
				$('#edit').one('stateenter._', function(e) {
					e.callback.expect();
					var $this = $(this);
					$this.rix({
						templatetags: {
							voornaam: 'voornaam',
							titel_achternaam: 'titel & achternaam',
							stad: 'stad',
							bedrijfsnaam: 'bedrijfsnaam'
						},
						onClean: function() {
							return confirm("Wil je de HTML automatisch opschonen?\n\nDit is aan te bevelen, zeker indien de code afkomstig is van een ander programma zoals Microsoft Word.");
						}
					});
					
					var $textarea = $this.find('.general textarea'),
						textarea = $textarea.get(0),
						handlers = $textarea.pluginData('rix');
					
					setTimeout(function() {
						handlers.onDisplay.call(textarea, function() {
							e.callback.call();
						});
					}, 0);
				});
				
				$('#edit').bind('stateready._', function(e) {
					var $textarea = $(this).find('.general textarea');
					$textarea.pluginData('rix').onVisible.call($textarea[0], $.noop);
				});
				
				/*
				$('#tags').one('stateenter._', function(e) {
					var $this = $(this);
					e.callback.expect();
					$.smartpr.tags.get(function(data) {
						var groups = [],
							i = data.length,
							groupname;
						// TODO: Move sorting to API client(?)
						data.sort(function(a, b) {
							a = a.name.toLowerCase();
							b = b.name.toLowerCase();
							return a < b ? -1 : a > b ? 1 : 0;
						});
						// TODO: Optimize
						while (i--) {
							groupname = data[i].name[0].toLowerCase();
							if (data[i - 1] === undefined || groupname !== data[i - 1].name[0].toLowerCase()) {
								groups.unshift({
									group: groupname,
									members: data.splice(i)
								});
							}
						}
						$this.children('ul').
							dataview({
								data: groups
							}).end().
							children('ul.filter').
								checkable({
									item: 'a.tag',
									flag: function(tags) {
										var $query = $('#contacts-controls').find('input[type=search]');
										$query.val($.map(tags, function(tag) {
											return 'label:' + tag.id;
										}).join(' ') + $query.val());
									},
									unflag: $.noop	// TODO: remove filters from search
								}).end().
							find('ul.apply a.tag').click(function(e) {
								e.preventDefault();
								$.smartpr.contacts.tag($('#contacts > ul').checkable('flagged'), $this.children('ul.apply').dataview('data', this), function(data) {
									$('#contacts > ul').
										dataview('update', data).
										dataview('invalidate');
								});
							});
						$('#contacts > ul').bind({
							'checkableflagfirst': function() {
								$this.children('ul.filter').hide().end().children('ul.apply').show();
							},
							'checkableunflaglast': $.noop // TODO: inverse implementation
						});
						e.callback.call();
					});
				});
				
				$('#contacts-controls').bind({
					'stateenter.contacts': function() {
						var $this = $(this);
						$this.
							find('button').click(function() {
								var add = $('#contacts > ul').checkable('flagged');
								if (add === true) {
									add = $this.find('input[type=search]').val();
								}
								$.smartpr.recipients.add(add, function(data) {
									// TODO: data should probably be just the recipients that were added.
									$.merge($('#basket > ul').dataview('data'), data);
									$('#basket > ul').dataview('invalidate');
								});
								return false;
							}).end().
							find('input[type=search]').bind('keypress change', function(e) {
								$('#contacts > ul').dataview('reload');
							}).end().
							find('a.check-all').click(function(e) {
								e.preventDefault();
								// $('#contacts > ul').checkable('flag');
							}).end().
							find('a.check-none').click(function(e) {
								e.preventDefault();
								// $('#contacts > ul').checkable('unflag');
							});
					}
				})
				*/
				$('#contacts').one({
					'stateenter.contacts': function(e) {
						e.callback.expect();
						$(this).find('.more').find('a').dblclick(function() {
									// $.progress.notify("Meer contacten worden geladen...");
									$(this).children('ul').dataview('load', function() {
										// $.progress.success("Meer contacten zijn geladen");
									});
								});
						$(this).children('ul').
							dataview({
								data: function(cb, after) {
									// $.progress.notify("Contacten worden geladen...");
									var $this = this,
										filter = $.trim($('#contacts-controls input[type=search]').val()) || undefined,
										order = $('#contacts-controls select option:selected').attr('name'),
										start = after && after[order] || undefined;
									// TODO: Redesign to the API client taking an options object (really?)
									$.smartpr.contacts.get(function(data, total) {
										cb(data, total);
										e.callback.call();
										// $.progress.success("Contacten zijn geladen");
									}, /*order, filter, start, 50,*/);
								}/*,
								nomore: function() {
									$(this).find('.more').hide();
								}*/
							});
						$('a.to-basket', $(this).children('ul')[0]).live('click', function(e) {
							e.preventDefault();
							$.smartpr.recipients.add([parseInt($(this).attr('href'))], function(data) {
								$('#contacts').children('ul').dataview('load', data);
							});
						});
							/*.
							bind({
								'checkableflag': function(e, $checked) {
									console.log('checked ' + $checked.length);
								},
								'checkableunflag': $.noop // TODO: inverse of checkableflag
							}).
							checkable({
								items: '> li',
								renderflag: function() {
									this.
										addClass('checked').
										find(':checkbox').attr('checked', true);
								}
							})*/;
					}
				});
				/*
				$('#webfiles-controls').bind({
					'stateenter.files': function() {
						var $this = $(this);
						$this.find('button').click(function() {
							$.smartpr.webfiles.add($this.find(':file')[0], function(data) {
								$('#webfiles > ul').lazyloadable('invalidate', $('#webfiles > ul').flirt(data, false));
							});
							return false;
						});
					}
				});
				
				$('#webfiles').bind({
					'stateenter.files': function(e) {
						e.callback.expect();
						$(this).children('ul').
							lazyloadable({
								load: function(cb) {
									var $this = this;
									$.smartpr.webfiles.get(function(data) {
										cb($this.flirt(data, false));
										e.callback.call();
									});
								}
							});
					}
				});
				*/
			});
			
		</script>
	</body>

</html>
