<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>
			JAL listview
		</title>
		
	    <script type="text/javascript" src="../lib/modernizr-1.1.min.js"></script>
<!--		<link rel="stylesheet" type="text/css" href="../lib/html5-reset-1.4.css" />-->
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/themes/base/jquery-ui.css" />
		<style type="text/css">
			
			#header {
				text-align: center;
			}
			#tweets {
				overflow: hidden;
			}
			#date {
				width: 40%;
				float: left;
			}
			#text {
				width: 40%;
				float: right;
			}
			ol > li {
				border-top: 1px solid lightgrey;
			}
			ol > li.checked {
				background-color: yellow;
			}
			#footer {
				text-align: center;
			}
			
			li {
				padding: .8em;
				font-family: Arial, sans-serif;
			}
			li.header {
				font-weight: bold;
			}
			blockquote {
				font-family: Georgia, 'Times New Roman', Times, serif;
				background-color: lightgrey;
				padding: .5em;
			}
			p.meta {
				font-style: italic;
				font-size: .9em;
				padding: .2em 0 0 .2em;
			}
			p.source {
				font-family: monospace;
				float: right;
			}
			
		</style>
	</head>
	
	<body>
		<div id="header">
			<div id="summary">
				<!--flirt
					<%= display %>/<%= total %> item(s)
				-->
			</div>
			<input type="search" />
		</div>
		<div id="tweets">
			<ol id="date">
				<!--small
					<li><%= text %> (<%= created_at %>)</li>
				-->
				<!--big
					<li>
						<blockquote><%= text %></blockquote>
						<div>
							<p class="source">posted from <%= source %></p>
							<p class="meta">
								<%= created_at %>
								<% if (in_reply_to_status_id !== null) { %>
									in reply to <a href="http://twitter.com/<%= in_reply_to_screen_name %>/status/<%= in_reply_to_status_id %>"><%= in_reply_to_screen_name %></a>
								<% } %>
							</p>
						</div>
					</li>
				-->
			</ol>
			<ol id="text">
				<!--small
					<li><%= text %> (<%= created_at %>)</li>
				-->
				<!--big
					<li>
						<blockquote><%= text %></blockquote>
						<div>
							<p class="source">posted from <%= source %></p>
							<p class="meta">
								<%= created_at %>
								<% if (in_reply_to_status_id !== null) { %>
									in reply to <a href="http://twitter.com/<%= in_reply_to_screen_name %>/status/<%= in_reply_to_status_id %>"><%= in_reply_to_screen_name %></a>
								<% } %>
							</p>
						</div>
					</li>
				-->
			</ol>
		</div>
		<div id="footer">
			<a href="" id="more">More</a>
		</div>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.js"></script>
		<script type="text/javascript" src="../lib/underscore.js"></script>
		<script type="text/javascript" src="../src/jquery.al.util.js"></script>
		<script type="text/javascript" src="../src/jquery.al.record.js"></script>
		<script type="text/javascript" src="../src/jquery.al.flexicallback.js"></script>
		<script type="text/javascript" src="../src/jquery.al.data.js"></script>
		<script type="text/javascript" src="../src/jquery.al.flirt.js"></script>
		<script type="text/javascript" src="../src/jquery.al.dataview.js"></script>
		<script type="text/javascript" src="../src/jquery.al.listview.js"></script>
		<script type="text/javascript" src="../src/jquery.al.flaggable.js"></script>
		<script type="text/javascript">
			
			jQuery(function($) {
				
				var $date = $('#date'),
					$text = $('#text'),
					$both = $('#date, #text'),
					$more = $('#more'),
					$search = $('input[type=search]');
				
				var fetched = {},
					pending = [],
					fetch = function(cb, after) {
						if (fetched[after] !== undefined) {
							cb(fetched[after]);
							return;
						}
						pending.push(cb);
						if (pending.length > 1) {
							return;
						}
						var url = 'http://twitter.com/statuses/user_timeline/timmolendijk.json?count=10&callback=?';
						if (after !== undefined) {
							url += '&max_id=' + after.id;
						}
						$.getJSON(url, function(data) {
							fetched[after] = data;
							for (var i = 0, l = pending.length; i < l; i++) {
								fetch(pending[i], after);
							}
							pending = [];
						});
					};
				
				$date.listview({
					data: fetch,
					template: 'big',
					key: 'id',
					grep: function(item) {
						var query = $.trim($search.val());
						return query ? item.text.indexOf(query) !== -1 : true;
					}
				});
				$text.listview({
					data: fetch,
					template: 'small',
					key: 'id',
					grep: function(item) {
						var query = $.trim($search.val());
						return query ? item.text.indexOf(query) !== -1 : true;
					},
					sort: function(a, b) {
						a = a.text;
						b = b.text;
						return a < b ? -1 : a > b ? 1 : 0;
					}
				});
				
				$('#tweets').flaggable({
					elements: 'li',
					data: true,
					invalidateFlagged: function(e, data) {
						$(data.elements).addClass('checked');
					},
					invalidateUnflagged: function(e, data) {
						$(data.elements).removeClass('checked');
					}
				});
				
				$search.keydown(function() {
					setTimeout(function() {
						$both.listview('invalidate');
					}, 300);
				});
				
				$more.click(function(e) {
					e.preventDefault();
					$date.listview('load');
					$text.listview('load');
				});
				
			});
			
		</script>
	</body>

</html>
