<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>
			JAL listview
		</title>
		
	    <script type="text/javascript" src="../lib/modernizr-1.1.min.js"></script>
<!--		<link rel="stylesheet" type="text/css" href="../lib/html5-reset-1.4.css" />-->
		<link rel="stylesheet" type="text/css" href="../lib/jquery-ui-1.8rc1/themes/base/ui.all.css" />
		<style type="text/css">
			
			
		</style>
	</head>
	
	<body>
		<div id="summary">
			<!--flirt
				<%= display %>/<%= total %> item(s)
			-->
		</div>
		<input type="search" />
		<ol id="listview">
			<!--
				<li><%= text %> (<%= created_at %>)</li>
			-->
		</ol>
		<a href="" id="more">More</a>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.js"></script>
		<script type="text/javascript" src="../lib/underscore.js"></script>
		<script type="text/javascript" src="../src/jquery.al.util.js"></script>
		<script type="text/javascript" src="../src/jquery.al.flexicallback.js"></script>
		<script type="text/javascript" src="../src/jquery.al.data.js"></script>
		<script type="text/javascript" src="../src/jquery.al.flirt.js"></script>
		<script type="text/javascript" src="../src/jquery.al.dataview.js"></script>
		<script type="text/javascript" src="../src/jquery.al.listview.js"></script>
		<script type="text/javascript" src="../src/jquery.al.flaggable.js"></script>
		<script type="text/javascript">
			
			jQuery(function($) {
				
				var $listview = $('#listview'),
					$more = $('#more'),
					$search = $('input[type=search]');
				
				$listview.
					listview({
						data: function(cb, after) {
							var url = 'http://twitter.com/statuses/user_timeline/timmolendijk.json?count=10&callback=?';
							if (after !== undefined) {
								url += '&max_id=' + after.id;
							}
							$.getJSON(url, function(data) {
								cb(data);
							});
						},
						key: 'id',
						grep: function(item) {
							var query = $.trim($search.val());
							return query ? item.text.indexOf(query) !== -1 : true;
						}
					}).
					flaggable({
						elements: 'li',
						data: true,
						flag: function(e, data) {
							console.log(data.items);
						},
						unflag: function(e, data) {
							console.log(data.items);
						}
					});
				
				$search.keydown(function() {
					setTimeout(function() {
						$listview.listview('invalidate');
					}, 300);
				});
				
				$more.click(function(e) {
					e.preventDefault();
					$listview.listview('load');
				});
				
			});
			
		</script>
	</body>

</html>
