<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>
			$.component
		</title>
		
		<style type="text/css">
		</style>
	</head>
	
	<body>
		
		<label><input type="checkbox" /> Display</label>
		
		<button class="load">Load</button>
		<button class="delete">Delete selected</button>
		
		<hr />
		
		<div id="component">
			
			<input type="checkbox" />
			
			<span><!-- selected <%= selected.size() %>, displayed <%= contacts.loaded() %>, out of <%= contacts.size() %> contacts --></span>
			
			<input type="search" />
			
			<ul>
				<!--
					<li data-id="<%= get('id') %>">
						<input type="text" value="<%= get('contact_name') || get('medium_name') || get('emails').join(', ') || safe('&ndash;') %>" />
						<button>Save contact with id <%= get('id') %></button>
					</li>
				-->
			</ul>
			
			<blockquote>
				<!--tester
					<span>${}</span>
				-->
			</blockquote>
			
		</div>
		
		<script type="text/javascript" src="../lib/underscore.js"></script>
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.4.3.js"></script>
		<script type="text/javascript" src="../lib/jshashtable-2.1_src.js"></script>
		<script type="text/javascript" src="../lib/jshashset_src.js"></script>
		<script type="text/javascript" src="../lib/jquery.ba-throttle-debounce.js"></script>
		<script type="text/javascript" src="../src/jquery.al.core/base.js"></script>
		<script type="text/javascript" src="../src/jquery.al.core/subtype.js"></script>
		<script type="text/javascript" src="../src/jquery.al.core/object.js"></script>
		<script type="text/javascript" src="../src/jquery.al.core/array.js"></script>
		<script type="text/javascript" src="../src/jquery.al.core/dict.js"></script>
		<script type="text/javascript" src="../src/jquery.al.record.js"></script>
		<script type="text/javascript" src="../src/jquery.al.rest.js"></script>
		<script type="text/javascript">
			
			api = new $.Rest('http://app.smartpr.dev/api/', 'jsonp');
			
			Contact = $.al.Record.subtype({
				
				name: 'Contact'
				
			}, {}, {
				
				read: function(query, cb) {
					api.get('contacts/', $.extend({
						offset: 0,
						limit: 50
					}, query), function(response) {
						cb(response.result);
					});
				}
				
			});
			
			// Contact = BASE.subtype({
			// 	
			// 	type: {
			// 		
			// 		create: 
			// 	}
			// 	
			// });
			// 
			// Contact = $.record(BASE, 'Contact', {
			// 	
			// 	name: function() {
			// 		return this.valueOf('first_name');
			// 	}
			// 	
			// }, {
			// 	
			// 	create: $.noop,
			// 	
			// 	read: $.noop,
			// 	
			// 	update: $.noop,
			// 	
			// 	del: $.noop
			// 	
			// });
			
		</script>
		
	</body>

</html>
